<ion-header class="ion-no-border">
    <div class="header-nav">
        <ion-icon [icon]="closeIcon" class="close-btn" (click)="cancel()"></ion-icon>

        <div class="header-content">
            <h1>New Person</h1>
        </div>

        <div class="header-spacer"></div> <!-- Balance for centering -->
    </div>
</ion-header>

<ion-content class="ion-padding">

    <div class="form-group">

        <label class="form-label">Name</label>

        <ion-input class="custom-input" placeholder="e.g. John Doe" [(ngModel)]="name">
        </ion-input>
    </div>

    <div class="initial-gift-section">
        <label class="form-label">Initial Gift (Optional)</label>

        <!-- Toggle -->
        <div class="toggle-container">
            <button class="toggle-btn" [class.active]="initialGiftType === 'received'"
                [class.received-active]="initialGiftType === 'received'" (click)="initialGiftType = 'received'">
                <ion-icon [icon]="receviedIcon"
                    style="font-size: 18px; margin-right: 4px; vertical-align: middle;"></ion-icon> Received
            </button>
            <button class="toggle-btn" [class.active]="initialGiftType === 'given'"
                [class.given-active]="initialGiftType === 'given'" (click)="initialGiftType = 'given'">
                <ion-icon [icon]="givenIcon"
                    style="font-size: 18px; margin-right: 4px; vertical-align: middle;"></ion-icon> Given
            </button>
        </div>

        <div class="form-group">
            <label class="form-label">Gift Name or Amount</label>
            <ion-input class="custom-input" placeholder="e.g. 8g Gold Ring, 2000rs, TV" [(ngModel)]="initialGiftItem">
            </ion-input>
        </div>

        <div class="form-group">
            <label class="form-label">Note (Optional)</label>
            <ion-textarea class="custom-input" rows="4" placeholder="Add a few details..."
                [(ngModel)]="initialGiftNote">
            </ion-textarea>
        </div>

        <div class="form-group">
            <label class="form-label">Date</label>
            <ion-input type="date" class="custom-input date-input" [(ngModel)]="initialGiftDate">
            </ion-input>
        </div>
    </div>

    <div class="action-group">
        <button class="footer-btn" [class.btn-given]="initialGiftType === 'given'"
            [class.btn-received]="initialGiftType === 'received'" (click)="save()">
            Save
        </button>

        <button class="footer-btn" [class.btn-given]="initialGiftType === 'given'"
            [class.btn-received]="initialGiftType === 'received'" (click)="saveAndNext()">
            Save & Next
        </button>
    </div>

</ion-content>